<p>
    人生五十年，如梦亦似幻。有生方有死，壮士何所憾。
</p>
<span>
    <a href="{{ site.author.weibo }}" target="_blank">
        <img style="width:25px;height:25px" src={{"/public/img/weibo.gif" | prepend:site.baseurl}}>
    </a>
    <a href="{{ site.author.github }}" target="_blank">
        <img style="width:25px;height:25px" src={{"/public/img/github.png" | prepend:site.baseurl}}>
    </a>
    <a href="/pages/atom.xml" target="_blank">
        <img style="width:25px;height:25px" src={{"/public/img/rss.png" | prepend:site.baseurl}}>
    </a>
    <a href="mailto:{{ site.author.email }}">
        <img style="width:25px;height:25px" src={{"/public/img/email.png" | prepend:site.baseurl}}>
    </a>
</span>
