---
title: tag
permalink: /tags.html
---
<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    <style>
        .list-group span{
            float:right;
            position:relative;
            
        } 
        .sidebar{
            position:fixed;
            top:10%; 
            overflow-x:hidden;
            overflow-y:scroll;
        }
        .tab-pane h3{
            margin-bottom:-4%;
        }
        .sidebar h2{
            position:relative;
            left:8%;
        }
    </style>
        {% include header.html %}

    <div class="sidebar">
        {% include mobile-bar.html %}
        <h2 >标签列表</h2>
        <ul>
            {% for tag in site.tags %}
                <li class="tab" data="{{tag | first }}">
                    <button class="button-large pure-button">{{ tag | first }}</button>
                </li>
            {% endfor %}
        </ul>
    </div>

    <div id="main">
        <div class="content with-sidebar">
            <div class="tab-content">
                {% for tag in site.tags %}
                <div class="tab-pane post" id="{{tag[0]}}">
                    <div class="list-group">
                        {% for post in tag[1] %}
                            <a href="{{ post.url | prepend:site.baseurl }}">
                                <h3>{{post.title}}</h3>
                                <span>{{post.date | date_to_string}}</span>
                            </a>
                        {% endfor %}
                    </div>
                </div>
                {% endfor %}
            </div>
            <a class="upper" data-scroll href="#header">
              <img src={{ "/public/img/up.jpg" | prepend: site.baseurl}}>
            </a>
            <div class="footer">
                {% include footer.html %}
            </div>
            </div>
        </div>
    </div>
  </body>
  <script>
    $('.tab-pane').css('display','none');
    $('.tab-content :first').css('display','block');
    $('.tab').on('click',function(){
        var cate=$(this).attr('data');
        $('.tab-pane').css('display','none');
        $('#'+cate).css('display','block')
    });

  </script>
  {% include end.html %}
</html>
