<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    <div id="header">
      {% include header.html %}
    </div>
      {% include mobile-bar.html %}

    <div id="main">
      <div class="sidebar">
        {% include menu.html  %}
      </div>

      <div class="content with-sidebar">
          {{ content }}
          {% include share.html %}
          <div class="comment">
          {% include duoshuo.html %}
          </div>

          <a class="upper" href="#header">
            <img src={{ "/public/img/up.jpg" | prepend: site.baseurl}}>
          </a>
        <div class="footer">
          {% include footer.html %}
        </div>

      </div>

    </div>
  </body>
  {% include end.html %}
</html>
